@charset "UTF-8";
/* CSS Document */

/* Header/logo Title */
header {
  align-items: center;
  margin: auto;
  width: 1000px;
}

body {
    background-color: #5d3619;
    font-family: Helvetica, Calibri, Arial, Sans-serif;
  
}

#wrapper{
         width: 1000px;
         margin: auto;
         background-color: white;
         padding: 10px;
         margin-top: 25px;
         display: flex;
         flex-flow: wrap;
        }

#inner-wrapper{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  
}        

nav {
  font-size: 23px;
  margin-top: 12px;
  margin: auto;
  padding: 0;
  border-style: none;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration-line: none;
  color: #53341f;
  
  margin: auto;
}


nav ul li a:hover {
  color: #888;
}

nav ul li .current_page {
  color: #cda470;
}

h1 {
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  color: #cda470;
}

h2 {
  font-weight: normal;
  font-size: 19px;
  text-align: left;
  color: #53341f;
  margin-top: 15px;
}

main {
  margin-top: 26px;
  display: flex;
  
  justify-content: space-between;
  width: 100%;
  
}

main a {
  color: #cda470;
  text-decoration-line: none;
}

.column {
  display: inline-block;
  width: 100%;
  
}

main a:hover{
  text-decoration-line: underline;
}

main p{
  margin-top: 15px;
  font-size: 13px;
  width: 90%;
  text-align: justify;
}

main img{
  margin-top: 20px;
}

footer {
  font-size: 11px;
  color: #5d3619;
  width: 1000px;
}

footer ul {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;

}

footer ul li {
  display: inline;
  padding: 10px;
}

footer ul li a{
  color: #5d3619;
  text-decoration-line: none;



}

footer ul li a:hover{
  text-decoration-line: underline;
}