@charset "UTF-8";
/* CSS Document */

/* Header/logo Title */
.header {
  font size: 22px;
  text-align: center;
  color: #cdo470;
}

body {
    background-color: #5d3619;
    font-family: Helvetica, Calibri, Arial, Sans-serif;
  
}

#wrapper{
         width: 1000px;
         margin: auto;
         background-color: white;
         padding: 10px;
         margin-top: 25px;
         display: flex;
         flex-flow: wrap;
        }

.flex-container {
                display: flex;
                flex-flow: row ;
                justify-content: space-around
                background-color: white;
}

.flex-container>div {
                     background-color: white;
                     top-margin: 12px;
                     font size: 23px;}


#inner-wrapper {
          width: 99%;
         margin: auto;
         background-color: white;
         font-size: 100px;

}

nav {
  font-size: 23px;
  margin-top: 12px;
  margin: auto;
  border-style: dotted;
  width: 1000px;
}

ul {
  display: flex;
  text-align: justify;
  list-style-type: none;
  margin: auto;
  border-style: solid;

}

li{
  float: left;
border-style: dashed;
}

li a{
  display: block;
  padding: 8px;
  text-decoration-line: none;
  color: #53341f;
  margin: auto;

  
}


li a:hover {
  color: #888;
}